*{
    margin:0;
}
main{
    width:80%;
    margin:0 auto;
}
h1{
    font-size:36px;
    color:#222;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    margin-top: 15px;
}
#resumo{
    font-size:32px;
    color:#555;
}
#imagem{
    width:80%;
    margin:0 auto;
}
#imagem img{
    width:100%;
}
.conteudo{
    font-size:26px;
    color:#333;
}
